In [1]:
#DATASET DE ENTRADA
pastaTrab = 'D:\\TCC\Meu TCC\\Dados\\1 - Dados Brutos'

In [2]:
#IMPORTA PANDAS
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# Pré-processamento Carga Tributária

In [4]:
df_cargaTributária = pd.read_csv(pastaTrab + '\\FMI\\GFSR_02-04-2022 20-03-01-71_timeSeries.csv')

In [5]:
df_cargaTributária.shape

(7563, 31)

In [6]:
df_cargaTributária.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7563 entries, 0 to 7562
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country Name                 7563 non-null   object
 1   Country Code                 7563 non-null   int64
 2   Classification Name          7563 non-null   object
 3   Classification Code          7563 non-null   object
 4   Sector Name                  7563 non-null   object
 5   Sector Code                  7563 non-null   object
 6   Unit Name                    7563 non-null   object
 7   Unit Code                    7563 non-null   object
 8   Attribute                    7563 non-null   object
 9   2001                         4638 non-null   object
 10  2002                         4775 non-null   object
 11  2003                         5039 non-null   object
 12  2004                         5025 non-null   object
 13  2005                         5070 non-null   object
 14  2006                         5141 non-null   object
 15  2007                         5179 non-null   object
 16  2008                         5288 non-null   object
 17  2009                         5316 non-null   object
 18  2010                         5390 non-null   object
 19  2011                         5486 non-null   object
 20  2012                         5528 non-null   object
 21  2013                         5570 non-null   object
 22  2014                         5604 non-null   object
 23  2015                         5499 non-null   object
 24  2016                         5451 non-null   object
 25  2017                         5438 non-null   object
 26  2018                         5201 non-null   object
 27  2019                         4799 non-null   object
 28  2020                         3720 non-null   object
 29  Indicator Code               685 non-null    object
 30  Global DSD Time Series Code  685 non-null    object
dtypes: int64(1), object(30)
memory usage: 1.8+ MB

In [7]:
df_cargaTributária.head()

,Country Name,Country Code,Classification Name,Classification Code,Sector Name,Sector Code,Unit Name,Unit Code,Attribute,2001,...,2013,2014,2015,2016,2017,2018,2019,2020,Indicator Code,Global DSD Time Series Code
0,Australia,193,Tax revenue,W0|S1|G11,Social security funds,S1314,Percent of GDP,XDC_R_B1GQ,Status,NP,...,NP,NP,NP,NP,NP,NP,NP,NP,NaN,NaN
1,Australia,193,Tax revenue,W0|S1|G11,Social security funds,S1314,Percent of GDP,XDC_R_B1GQ,Valuation,NP,...,NP,NP,NP,NP,NP,NP,NP,NP,NaN,NaN
2,Australia,193,Tax revenue,W0|S1|G11,Social security funds,S1314,Percent of GDP,XDC_R_B1GQ,Bases of recording (Cash/ Non Cash),NP,...,NP,NP,NP,NP,NP,NP,NP,NP,NaN,NaN
3,Australia,193,Tax revenue,W0|S1|G11,Social security funds,S1314,Percent of GDP,XDC_R_B1GQ,Bases of recording (Gross/Net),NP,...,NP,NP,NP,NP,NP,NP,NP,NP,NaN,NaN
4,Australia,193,Tax revenue,W0|S1|G11,Social security funds,S1314,Percent of GDP,XDC_R_B1GQ,Nature of data,NP,...,NP,NP,NP,NP,NP,NP,NP,NP,NaN,NaN

In [8]:
df_cargaTributária.columns

Index(['Country Name', 'Country Code', 'Classification Name',
       'Classification Code', 'Sector Name', 'Sector Code', 'Unit Name',
       'Unit Code', 'Attribute', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', 'Indicator Code',
       'Global DSD Time Series Code'],
      dtype='object')

In [9]:
df_boll = df_cargaTributária['Attribute'] == 'Value'
df_cargaTributária_filtrado = df_cargaTributária[df_boll].drop(columns = ['Country Code', 'Classification Name',
                                                                                'Classification Code', 'Sector Name', 'Sector Code', 'Unit Name',
                                                                                'Unit Code', 'Attribute', 'Indicator Code',
                                                                                'Global DSD Time Series Code'])
df_cargaTributária_filtrado.rename(columns = {'Country Name': 'Country'}, inplace = True)

In [10]:
columns = ['2001', '2002', '2003', '2004', '2005','2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014','2015',
           '2016', '2017', '2018', '2019', '2020'] 
df_cargaTributária_filtrado[columns] = df_cargaTributária_filtrado[columns].apply(lambda x: x.str.replace(',', '.').astype('float'))

In [11]:
df_cargaTributária = df_cargaTributária_filtrado.groupby(['Country']).sum()
df_cargaTributária

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country,,,,,,,,,,,,,,,,,,,,
"Afghanistan, Islamic Rep. of",0.000000,0.000000,0.000000,0.000000,0.000000,7.228557,6.178427,6.246938,8.866483,9.659991,9.508391,8.042777,7.577501,7.170172,7.879229,9.157429,9.517579,0.000000,0.000000,0.000000
Albania,0.000000,20.566141,21.367860,22.331740,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22.882266,22.238975,21.395243,23.933615,23.985634,23.537326,25.281047,25.164742,25.130470,24.449382
Argentina,12.178407,17.607712,20.699529,23.907221,16.014401,16.235215,17.195653,17.883199,18.449924,18.883971,18.796735,19.569582,19.303637,19.142901,19.236392,19.003145,17.734233,16.304993,16.305180,0.000000
"Armenia, Rep. of",0.000000,0.000000,3.170235,17.116643,17.605916,17.830832,19.209923,0.388052,0.558978,0.546600,0.517496,0.469582,22.436878,22.433075,21.575377,21.761926,21.261457,21.306956,22.670321,22.351996
Australia,29.531483,27.965852,28.844616,28.911667,29.023470,28.758890,28.346270,28.267790,26.887878,24.498201,24.487707,25.729351,26.471875,26.853950,27.106763,27.287489,26.997316,27.885425,28.038785,28.092581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,27.535169,25.299468,24.787171,25.086425,26.454606,27.165946,27.133574,26.069687,23.372424,23.844851,24.235046,24.376185,25.951648,26.349641,26.684594,26.364650,27.324694,25.464762,25.747712,26.375128
Uruguay,19.990252,19.666303,20.268063,20.843766,21.438222,22.661102,22.018972,22.161401,25.218392,25.561030,25.977001,26.209005,26.803306,26.729778,26.573514,31.508718,28.268460,28.550155,28.111005,0.000000
"Uzbekistan, Rep. of",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.841859,25.603178,26.476142,25.806987,25.312455,25.075191,22.130251,24.405326,24.033166,23.092945
West Bank and Gaza,0.000000,0.000000,0.000000,0.000000,4.940211,4.600780,4.633420,5.059732,5.295031,6.668408,5.346541,4.655164,4.906658,5.840634,5.724321,6.205832,6.533933,6.112689,0.000000,0.000000
Zambia,0.185996,0.207936,0.219781,0.130327,0.096138,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [12]:
df_cargaTributária['Indicador'] = 'FiscalEffort'
df_cargaTributária

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Indicador
Country,,,,,,,,,,,,,,,,,,,,,
"Afghanistan, Islamic Rep. of",0.000000,0.000000,0.000000,0.000000,0.000000,7.228557,6.178427,6.246938,8.866483,9.659991,...,8.042777,7.577501,7.170172,7.879229,9.157429,9.517579,0.000000,0.000000,0.000000,FiscalEffort
Albania,0.000000,20.566141,21.367860,22.331740,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,22.238975,21.395243,23.933615,23.985634,23.537326,25.281047,25.164742,25.130470,24.449382,FiscalEffort
Argentina,12.178407,17.607712,20.699529,23.907221,16.014401,16.235215,17.195653,17.883199,18.449924,18.883971,...,19.569582,19.303637,19.142901,19.236392,19.003145,17.734233,16.304993,16.305180,0.000000,FiscalEffort
"Armenia, Rep. of",0.000000,0.000000,3.170235,17.116643,17.605916,17.830832,19.209923,0.388052,0.558978,0.546600,...,0.469582,22.436878,22.433075,21.575377,21.761926,21.261457,21.306956,22.670321,22.351996,FiscalEffort
Australia,29.531483,27.965852,28.844616,28.911667,29.023470,28.758890,28.346270,28.267790,26.887878,24.498201,...,25.729351,26.471875,26.853950,27.106763,27.287489,26.997316,27.885425,28.038785,28.092581,FiscalEffort
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,27.535169,25.299468,24.787171,25.086425,26.454606,27.165946,27.133574,26.069687,23.372424,23.844851,...,24.376185,25.951648,26.349641,26.684594,26.364650,27.324694,25.464762,25.747712,26.375128,FiscalEffort
Uruguay,19.990252,19.666303,20.268063,20.843766,21.438222,22.661102,22.018972,22.161401,25.218392,25.561030,...,26.209005,26.803306,26.729778,26.573514,31.508718,28.268460,28.550155,28.111005,0.000000,FiscalEffort
"Uzbekistan, Rep. of",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,25.603178,26.476142,25.806987,25.312455,25.075191,22.130251,24.405326,24.033166,23.092945,FiscalEffort
West Bank and Gaza,0.000000,0.000000,0.000000,0.000000,4.940211,4.600780,4.633420,5.059732,5.295031,6.668408,...,4.655164,4.906658,5.840634,5.724321,6.205832,6.533933,6.112689,0.000000,0.000000,FiscalEffort
Zambia,0.185996,0.207936,0.219781,0.130327,0.096138,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,FiscalEffort

In [14]:
df_cargaTributária.to_excel(pastaTrab + '\\FMI\\cargaTributaria_py.xlsx')

# Pré-processamento despesas governamentais

In [15]:
df_FiscalExpense = pd.read_csv(pastaTrab + '\\FMI\\GFSE_02-04-2022 20-08-22-70_timeSeries.csv')

In [16]:
df_FiscalExpense.shape

(7574, 32)

In [17]:
df_FiscalExpense.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7574 entries, 0 to 7573
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country Name                 7574 non-null   object
 1   Country Code                 7574 non-null   int64
 2   Classification Name          7574 non-null   object
 3   Classification Code          7574 non-null   object
 4   Sector Name                  7574 non-null   object
 5   Sector Code                  7574 non-null   object
 6   Unit Name                    7574 non-null   object
 7   Unit Code                    7574 non-null   object
 8   Attribute                    7574 non-null   object
 9   2001                         4592 non-null   object
 10  2002                         4750 non-null   object
 11  2003                         5016 non-null   object
 12  2004                         5008 non-null   object
 13  2005                         5048 non-null   object
 14  2006                         5118 non-null   object
 15  2007                         5164 non-null   object
 16  2008                         5277 non-null   object
 17  2009                         5303 non-null   object
 18  2010                         5378 non-null   object
 19  2011                         5474 non-null   object
 20  2012                         5518 non-null   object
 21  2013                         5558 non-null   object
 22  2014                         5596 non-null   object
 23  2015                         5492 non-null   object
 24  2016                         5448 non-null   object
 25  2017                         5430 non-null   object
 26  2018                         5192 non-null   object
 27  2019                         4800 non-null   object
 28  2020                         3722 non-null   object
 29  Indicator Code               673 non-null    object
 30  Global DSD Time Series Code  673 non-null    object
 31  Unnamed: 31                  0 non-null      float64
dtypes: float64(1), int64(1), object(30)
memory usage: 1.8+ MB

In [18]:
df_FiscalExpense.head()

,Country Name,Country Code,Classification Name,Classification Code,Sector Name,Sector Code,Unit Name,Unit Code,Attribute,2001,...,2014,2015,2016,2017,2018,2019,2020,Indicator Code,Global DSD Time Series Code,Unnamed: 31
0,Australia,193,Interest expense,W0|S1|G24,Central government (excl. social security funds),S1311,Percent of GDP,XDC_R_B1GQ,Value,0.878005347725842,...,0.848196174012146,0.935506205827212,0.949638326733156,0.92376298349759,0.935265696414482,0.897856010202955,0.902361957565725,GEI_G14_GDP_PT,A|AU|S1311|W0|S1|G24|_Z|_Z|_Z|XDC_R_B1GQ|_T|_X,NaN
1,Australia,193,Interest expense,W0|S1|G24,Central government (excl. social security funds),S1311,Percent of GDP,XDC_R_B1GQ,Valuation,NP,...,NP,NP,NP,NP,NP,NP,NP,NaN,NaN,NaN
2,Australia,193,Interest expense,W0|S1|G24,Central government (excl. social security funds),S1311,Percent of GDP,XDC_R_B1GQ,Bases of recording (Cash/ Non Cash),AC,...,AC,AC,AC,AC,AC,AC,AC,NaN,NaN,NaN
3,Australia,193,Interest expense,W0|S1|G24,Central government (excl. social security funds),S1311,Percent of GDP,XDC_R_B1GQ,Bases of recording (Gross/Net),NP,...,NP,NP,NP,NP,NP,NP,NP,NaN,NaN,NaN
4,Australia,193,Interest expense,W0|S1|G24,Central government (excl. social security funds),S1311,Percent of GDP,XDC_R_B1GQ,Nature of data,A,...,A,A,A,A,A,A,A,NaN,NaN,NaN

In [19]:
df_FiscalExpense.columns

Index(['Country Name', 'Country Code', 'Classification Name',
       'Classification Code', 'Sector Name', 'Sector Code', 'Unit Name',
       'Unit Code', 'Attribute', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', 'Indicator Code',
       'Global DSD Time Series Code', 'Unnamed: 31'],
      dtype='object')

In [20]:
df_mask = df_FiscalExpense['Attribute'] == 'Value'
df_FiscalExpense_filtrado = df_FiscalExpense[df_mask].drop(columns = ['Country Code','Classification Code', 'Sector Name',
                                           'Sector Code', 'Unit Name','Unit Code', 'Attribute', 'Indicator Code',
                                           'Global DSD Time Series Code', 'Unnamed: 31'])
df_FiscalExpense_filtrado

,Country Name,Classification Name,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Australia,Interest expense,0.878005347725842,0.729657622192663,0.610939157370292,0.486203485411652,0.44599143604872,0.403340892961832,0.365806836297239,0.34023995870772,...,0.681716203665188,0.857315031097388,0.832306503088144,0.848196174012146,0.935506205827212,0.949638326733156,0.92376298349759,0.935265696414482,0.897856010202955,0.902361957565725
5,Japan,Social benefits expense,0.406344185303044,0.399816894327794,0.395459299919461,0.363248622029674,0.342279601223278,0.326924723043989,0.322030844393387,0.30488806079786,...,0.267394696549754,0.253638143588606,0.23286109915924,0.207248441258202,0.191203113454458,0.174329626401303,0.162942706816336,0.158909627601048,0.144936434556487,NaN
10,Austria,Interest expense,0.0316381362657295,0.020018938383216,0.0139220443150574,0.0121519317445181,0.0127245891961035,0.0181088802961941,0.0206072301375459,0.0217012485281447,...,0.00716154524284442,0.0050336871036246,0.000929269902584111,0.00101456988390379,0.000232376224078069,0.000109057962909107,0.000330317784661504,0.000459308509741103,0.000450229063468213,0.000802151877958925
15,Cambodia,Interest expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.333193021007783,NaN
21,Cabo Verde,Social benefits expense,NaN,NaN,NaN,NaN,2.00640254639424,2.0022698020926,1.95387876952392,1.97506602744314,...,2.51165018540333,2.60585012509379,2.69990380739194,2.8153623694179,2.98370855851885,3.11550732399171,3.20119954629449,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7476,"Tajikistan, Rep. of",Social benefits expense,NaN,NaN,0.158839837022724,0.159456479439616,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7507,"Tajikistan, Rep. of",Interest expense,0.539121616350729,NaN,1.24011845255597,0.718462187054093,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7523,"Tajikistan, Rep. of",Social benefits expense,0.15878773695296,NaN,0.353215440836729,0.122519133480348,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7549,Panama,Social benefits expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.00525880206823476,0.00522638955705929,0.00757855233058278,0.00664613349456688,0.00771276507620375,NaN,NaN
7564,Panama,Interest expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.00113310319981031,0.000824821361458931,0.000497707477330501,0.00021716500651822,4.70518340652108E-05,NaN,NaN

In [21]:
columns = ['2001', '2002', '2003', '2004', '2005','2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014','2015',
           '2016', '2017', '2018', '2019', '2020'] 
df_FiscalExpense_filtrado[columns] = df_FiscalExpense_filtrado[columns].apply(lambda x: x.str.replace(',', '.').astype('float'))

In [22]:
df_FiscalExpense_filtrado.rename(columns = {'Country Name' : 'Country', 'Classification Name' : 'Indicador'}, inplace = True)
df_FiscalExpense_filtrado.reset_index(drop=True, inplace=True)
df_FiscalExpense_filtrado

,Country,Indicador,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Australia,Interest expense,0.878005,0.729658,0.610939,0.486203,0.445991,0.403341,0.365807,0.340240,...,0.681716,0.857315,0.832307,0.848196,0.935506,0.949638,0.923763,0.935266,0.897856,0.902362
1,Japan,Social benefits expense,0.406344,0.399817,0.395459,0.363249,0.342280,0.326925,0.322031,0.304888,...,0.267395,0.253638,0.232861,0.207248,0.191203,0.174330,0.162943,0.158910,0.144936,NaN
2,Austria,Interest expense,0.031638,0.020019,0.013922,0.012152,0.012725,0.018109,0.020607,0.021701,...,0.007162,0.005034,0.000929,0.001015,0.000232,0.000109,0.000330,0.000459,0.000450,0.000802
3,Cambodia,Interest expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.333193,NaN
4,Cabo Verde,Social benefits expense,NaN,NaN,NaN,NaN,2.006403,2.002270,1.953879,1.975066,...,2.511650,2.605850,2.699904,2.815362,2.983709,3.115507,3.201200,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,"Tajikistan, Rep. of",Social benefits expense,NaN,NaN,0.158840,0.159456,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,"Tajikistan, Rep. of",Interest expense,0.539122,NaN,1.240118,0.718462,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,"Tajikistan, Rep. of",Social benefits expense,0.158788,NaN,0.353215,0.122519,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,Panama,Social benefits expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.005259,0.005226,0.007579,0.006646,0.007713,NaN,NaN
672,Panama,Interest expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.001133,0.000825,0.000498,0.000217,0.000047,NaN,NaN

In [23]:
df_FiscalExpense = df_FiscalExpense_filtrado.groupby(['Country', 'Indicador']).sum()

In [24]:
df_FiscalExpense = df_FiscalExpense.reset_index()
columns = ['2001', '2002', '2003', '2004', '2005','2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014','2015',
           '2016', '2017', '2018', '2019', '2020'] 
df_FiscalExpense[columns] = df_FiscalExpense[columns].apply(lambda x: x.astype('float'))
df_FiscalExpense

,Country,Indicador,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"Afghanistan, Islamic Rep. of",Interest expense,0.000000,0.000000,0.000000,0.000000,0.000000,0.048972,0.024965,0.019920,...,0.012260,0.016187,0.025775,0.029735,0.055136,0.050606,0.051404,0.000000,0.000000,0.000000
1,"Afghanistan, Islamic Rep. of",Social benefits expense,0.000000,0.000000,0.000000,0.000000,0.000000,0.774103,1.288601,3.256699,...,1.030768,0.976200,1.100933,1.683250,1.609510,2.758545,3.115869,0.000000,0.000000,0.000000
2,Albania,Interest expense,0.000000,4.056125,4.400482,3.853149,0.000000,0.000000,0.000000,0.000000,...,3.163025,3.116161,3.212298,2.864104,2.698012,2.465579,2.060398,2.234749,2.094395,2.140373
3,Albania,Social benefits expense,0.000000,7.789436,7.697918,8.814283,0.000000,0.000000,0.000000,0.000000,...,8.544655,8.863475,9.424998,9.633372,9.683470,10.120618,10.022554,9.957084,10.183040,11.409236
4,Argentina,Interest expense,0.809364,6.476177,5.765193,4.789872,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.906096,1.844172,3.625644,3.041855,3.787072,4.368140,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,"Uzbekistan, Rep. of",Social benefits expense,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,6.996169,6.397449,5.918969,6.247435,7.042131
247,West Bank and Gaza,Interest expense,0.000000,0.000000,0.000000,0.000000,0.207231,0.252257,0.145900,0.161099,...,0.159097,0.158610,0.198328,0.154173,0.189612,0.154124,0.144951,0.128604,0.000000,0.000000
248,West Bank and Gaza,Social benefits expense,0.000000,0.000000,0.000000,0.000000,1.173371,0.916426,0.795816,2.149976,...,1.307042,1.245867,1.528904,1.659309,1.629768,1.664786,1.723537,2.124530,0.000000,0.000000
249,Zambia,Interest expense,0.002040,0.001435,0.000137,0.000131,0.000001,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
250,Zambia,Social benefits expense,0.008645,0.010890,0.019572,0.012013,0.021743,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [25]:
df_FiscalExpense.to_excel(pastaTrab + '\\FMI\\FiscalExpense_py.xlsx')

# Pré-processamento Banco Mundial

In [26]:
df_WBDI = pd.read_excel(pastaTrab + '\\Banco Mundial\\Data_Extract_From_World_Development_Indicators.xlsx')

In [27]:
df_WBDI.shape

(656, 24)

In [28]:
df_WBDI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   653 non-null    object
 1   Country Code   651 non-null    object
 2   Series Name    651 non-null    object
 3   Series Code    651 non-null    object
 4   2001 [YR2001]  651 non-null    object
 5   2002 [YR2002]  651 non-null    object
 6   2003 [YR2003]  651 non-null    object
 7   2004 [YR2004]  651 non-null    object
 8   2005 [YR2005]  651 non-null    object
 9   2006 [YR2006]  651 non-null    object
 10  2007 [YR2007]  651 non-null    object
 11  2008 [YR2008]  651 non-null    object
 12  2009 [YR2009]  651 non-null    object
 13  2010 [YR2010]  651 non-null    object
 14  2011 [YR2011]  651 non-null    object
 15  2012 [YR2012]  651 non-null    object
 16  2013 [YR2013]  651 non-null    object
 17  2014 [YR2014]  651 non-null    object
 18  2015 [YR2015]  651 non-null    object
 19  2016 [YR2016]  651 non-null    object
 20  2017 [YR2017]  651 non-null    object
 21  2018 [YR2018]  651 non-null    object
 22  2019 [YR2019]  651 non-null    object
 23  2020 [YR2020]  651 non-null    object
dtypes: object(24)
memory usage: 123.1+ KB

In [29]:
df_WBDI

,Country Name,Country Code,Series Name,Series Code,2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,AFG,Oil rents (% of GDP),NY.GDP.PETR.RT.ZS,..,0.029101,0.026686,0.025399,0.025973,0.022144,...,0.006616,0.10976,0.004017,0.003166,0.001076,0.000872,0.001296,0.001939,0.001628,..
1,Afghanistan,AFG,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,..,38.627892,37.418855,29.721067,31.114855,28.635969,...,23.743664,24.390874,22.810663,22.137041,20.634323,25.740314,26.420199,22.042897,25.773971,26.8206
2,Afghanistan,AFG,Gini index (World Bank estimate),SI.POV.GINI,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,Albania,ALB,Oil rents (% of GDP),NY.GDP.PETR.RT.ZS,0.650142,0.66461,0.644513,0.682981,0.926517,1.116131,...,2.738163,3.008476,2.649667,2.776634,1.337059,1.156373,1.139782,1.545188,1.353546,..
4,Albania,ALB,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,22.716164,22.025114,21.978257,20.537486,18.845309,17.708354,...,18.22679,18.766802,19.565158,19.990181,19.780214,19.849994,19.022149,18.429479,18.391244,19.121963
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
655,Last Updated: 12/16/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df_WBDI.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]',
       '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]',
       '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]'],
      dtype='object')

In [31]:
df_WBDI.drop(index = [651, 652, 653, 654, 655], columns = ['Country Code', 'Series Code'], inplace = True)

In [32]:
df_WBDI.rename(columns = {'Series Name': 'Indicador', '2001 [YR2001]': '2001', '2002 [YR2002]': '2002', '2003 [YR2003]' :'2003',
                          '2004 [YR2004]': '2004', '2005 [YR2005]': '2005', '2006 [YR2006]': '2006', '2007 [YR2007]':'2007',
                          '2008 [YR2008]': '2008', '2009 [YR2009]': '2009', '2010 [YR2010]': '2010', '2011 [YR2011]':'2011',
                          '2012 [YR2012]': '2012', '2013 [YR2013]' : '2013','2014 [YR2014]': '2014', '2015 [YR2015]':'2015',
                          '2016 [YR2016]': '2016', '2017 [YR2017]': '2017', '2018 [YR2018]': '2018', '2019 [YR2019]': '2019',
                          '2020 [YR2020]': '2020'}, inplace =True)

In [33]:
df_WBDI.columns

Index(['Country Name', 'Indicador', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [34]:
columns = ['2001', '2002', '2003', '2004', '2005','2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014','2015',
           '2016', '2017', '2018', '2019', '2020'] 
df_WBDI[columns] = df_WBDI[columns].apply(pd.to_numeric, errors='coerce')

In [35]:
df_WBDI.to_excel(pastaTrab + '\\Banco Mundial\\Data_Extract_From_World_Development_Indicators_py.xlsx')

# Pré-processamento WWGI

In [36]:
df_WWGI1 = pd.read_excel(pastaTrab + '\\WWGI\\wgidataset.xlsx', sheet_name = 'VoiceandAccountability', skiprows=12)
df_WWGI1['Indicador'] = 'VoiceandAccountability'
df_WWGI2 = pd.read_excel(pastaTrab + '\\WWGI\\wgidataset.xlsx', sheet_name = 'ControlofCorruption', skiprows=12)
df_WWGI2['Indicador'] = 'ControlofCorruption'
df_WWGI3 = pd.read_excel(pastaTrab + '\\WWGI\\wgidataset.xlsx', sheet_name = 'RuleofLaw', skiprows=12)
df_WWGI3['Indicador'] = 'RuleofLaw'
df_WWGI4 = pd.read_excel(pastaTrab + '\\WWGI\\wgidataset.xlsx', sheet_name = 'RegulatoryQuality', skiprows=12)
df_WWGI4['Indicador'] = 'RegulatoryQuality'
df_WWGI5 = pd.read_excel(pastaTrab + '\\WWGI\\wgidataset.xlsx', sheet_name = 'GovernmentEffectiveness', skiprows=12)
df_WWGI5['Indicador'] = 'GovernmentEffectiveness'
df_WWGI6 = pd.read_excel(pastaTrab + '\\WWGI\\wgidataset.xlsx', sheet_name = 'Political StabilityNoViolence', skiprows=12)
df_WWGI6['Indicador'] = 'Political_StabilityNoViolence'

In [37]:
df_WWGI =pd.concat([df_WWGI1, df_WWGI2, df_WWGI3, df_WWGI4, df_WWGI5, df_WWGI6], ignore_index = True)

In [38]:
df_WWGI_filter=df_WWGI.loc[:,['Unnamed: 0','Indicador', 'Unnamed: 14', 'Unnamed: 20', 'Unnamed: 26', 'Unnamed: 32', 'Unnamed: 38', 'Unnamed: 44',
                       'Unnamed: 50', 'Unnamed: 56', 'Unnamed: 62', 'Unnamed: 68', 'Unnamed: 74', 'Unnamed: 80', 'Unnamed: 86',
                       'Unnamed: 92', 'Unnamed: 98', 'Unnamed: 104', 'Unnamed: 110', 'Unnamed: 116', 'Unnamed: 122', 'Unnamed: 128']]
df_WWGI_filter

,Unnamed: 0,Indicador,Unnamed: 14,Unnamed: 20,Unnamed: 26,Unnamed: 32,Unnamed: 38,Unnamed: 44,Unnamed: 50,Unnamed: 56,...,Unnamed: 74,Unnamed: 80,Unnamed: 86,Unnamed: 92,Unnamed: 98,Unnamed: 104,Unnamed: 110,Unnamed: 116,Unnamed: 122,Unnamed: 128
0,NaN,VoiceandAccountability,2000,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,Country/Territory,VoiceandAccountability,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,...,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
2,Aruba,VoiceandAccountability,NaN,NaN,NaN,0.737521,1.15323,1.017273,0.972129,0.967198,...,1.273588,1.28465,1.278059,1.276822,1.273942,1.279368,1.295541,1.271613,1.264411,1.289108
3,Andorra,VoiceandAccountability,1.535655,1.437128,1.422262,1.563077,1.528182,1.329979,1.305506,1.325322,...,1.360453,1.433838,1.406642,1.165939,1.194477,1.176598,1.161647,1.036913,1.110124,1.089068
4,Afghanistan,VoiceandAccountability,-2.031417,-1.433421,-1.177571,-1.203034,-1.12543,-1.110294,-1.057654,-1.168902,...,-1.335977,-1.26743,-1.240068,-1.135445,-1.117563,-1.037838,-0.990854,-1.011603,-1.006792,-1.083459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1291,Serbia,Political_StabilityNoViolence,-1.642953,-0.512326,-0.582105,-0.509061,-0.765158,-0.539612,-0.591053,-0.543842,...,-0.282882,-0.217299,-0.075638,0.184111,0.238982,0.140154,0.086855,0.008951,-0.06595,-0.092866
1292,South Africa,Political_StabilityNoViolence,-0.225485,-0.253671,-0.311745,-0.131361,-0.162605,0.048197,0.215835,0.049733,...,0.024032,-0.025387,-0.046295,-0.146389,-0.212993,-0.141504,-0.277562,-0.227779,-0.26767,-0.236858
1293,"Congo, Dem. Rep.",Political_StabilityNoViolence,-2.476551,-1.977575,-2.028027,-2.388028,-2.132514,-2.250013,-2.176482,-2.005968,...,-2.212989,-2.085893,-2.192191,-2.167921,-2.150854,-2.234622,-2.302249,-2.105781,-1.593899,-1.708182
1294,Zambia,Political_StabilityNoViolence,0.033903,-0.278804,0.217706,0.189577,0.10505,0.3625,0.363416,0.469842,...,0.509774,0.660963,0.435933,0.156212,0.151695,0.142808,0.146243,0.085604,-0.113847,-0.128189
1295,Zimbabwe,Political_StabilityNoViolence,-1.322906,-1.521978,-1.088343,-1.2075,-1.272914,-0.932961,-1.108968,-1.213945,...,-0.945329,-0.778662,-0.66595,-0.71357,-0.618156,-0.619938,-0.708769,-0.722774,-0.959749,-1.080208

In [39]:
df_boll_null = df_WWGI_filter['Unnamed: 0'].notnull()
df_WWGI1 = df_WWGI_filter[df_boll_null]
df_boll_c = df_WWGI1['Unnamed: 0'] != 'Country/Territory'
df_WWGI_filt = df_WWGI1[df_boll_c]

In [40]:
df_WWGI_filt

,Unnamed: 0,Indicador,Unnamed: 14,Unnamed: 20,Unnamed: 26,Unnamed: 32,Unnamed: 38,Unnamed: 44,Unnamed: 50,Unnamed: 56,...,Unnamed: 74,Unnamed: 80,Unnamed: 86,Unnamed: 92,Unnamed: 98,Unnamed: 104,Unnamed: 110,Unnamed: 116,Unnamed: 122,Unnamed: 128
2,Aruba,VoiceandAccountability,NaN,NaN,NaN,0.737521,1.15323,1.017273,0.972129,0.967198,...,1.273588,1.28465,1.278059,1.276822,1.273942,1.279368,1.295541,1.271613,1.264411,1.289108
3,Andorra,VoiceandAccountability,1.535655,1.437128,1.422262,1.563077,1.528182,1.329979,1.305506,1.325322,...,1.360453,1.433838,1.406642,1.165939,1.194477,1.176598,1.161647,1.036913,1.110124,1.089068
4,Afghanistan,VoiceandAccountability,-2.031417,-1.433421,-1.177571,-1.203034,-1.12543,-1.110294,-1.057654,-1.168902,...,-1.335977,-1.26743,-1.240068,-1.135445,-1.117563,-1.037838,-0.990854,-1.011603,-1.006792,-1.083459
5,Angola,VoiceandAccountability,-1.458065,-1.238779,-1.272615,-1.28548,-1.234719,-1.252088,-1.185314,-1.119347,...,-1.125478,-1.076247,-1.113843,-1.145494,-1.177248,-1.1396,-1.097939,-0.906303,-0.783532,-0.810628
6,Anguilla,VoiceandAccountability,NaN,NaN,NaN,0.854418,0.903781,1.017273,0.972129,0.967198,...,1.009052,1.025672,1.004767,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1291,Serbia,Political_StabilityNoViolence,-1.642953,-0.512326,-0.582105,-0.509061,-0.765158,-0.539612,-0.591053,-0.543842,...,-0.282882,-0.217299,-0.075638,0.184111,0.238982,0.140154,0.086855,0.008951,-0.06595,-0.092866
1292,South Africa,Political_StabilityNoViolence,-0.225485,-0.253671,-0.311745,-0.131361,-0.162605,0.048197,0.215835,0.049733,...,0.024032,-0.025387,-0.046295,-0.146389,-0.212993,-0.141504,-0.277562,-0.227779,-0.26767,-0.236858
1293,"Congo, Dem. Rep.",Political_StabilityNoViolence,-2.476551,-1.977575,-2.028027,-2.388028,-2.132514,-2.250013,-2.176482,-2.005968,...,-2.212989,-2.085893,-2.192191,-2.167921,-2.150854,-2.234622,-2.302249,-2.105781,-1.593899,-1.708182
1294,Zambia,Political_StabilityNoViolence,0.033903,-0.278804,0.217706,0.189577,0.10505,0.3625,0.363416,0.469842,...,0.509774,0.660963,0.435933,0.156212,0.151695,0.142808,0.146243,0.085604,-0.113847,-0.128189
1295,Zimbabwe,Political_StabilityNoViolence,-1.322906,-1.521978,-1.088343,-1.2075,-1.272914,-0.932961,-1.108968,-1.213945,...,-0.945329,-0.778662,-0.66595,-0.71357,-0.618156,-0.619938,-0.708769,-0.722774,-0.959749,-1.080208

In [41]:
df_WWGI_filt.rename(columns = {'Unnamed: 0': 'Country','Unnamed: 14': '2001', 'Unnamed: 20': '2002', 'Unnamed: 26' :'2003',
                          'Unnamed: 32': '2004', 'Unnamed: 38': '2005', 'Unnamed: 44': '2006', 'Unnamed: 50':'2007',
                          'Unnamed: 56': '2008', 'Unnamed: 62': '2009', 'Unnamed: 68': '2010', 'Unnamed: 74':'2011',
                          'Unnamed: 80': '2012', 'Unnamed: 86': '2013', 'Unnamed: 92': '2014', 'Unnamed: 98':'2015',
                          'Unnamed: 104': '2016','Unnamed: 110': '2017', 'Unnamed: 116': '2018', 'Unnamed: 122': '2019',
                          'Unnamed: 128': '2020'}, inplace =True)

In [40]:
df_WWGI_filt

,Country,Indicador,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
2,Aruba,VoiceandAccountability,NaN,NaN,NaN,0.737521,1.15323,1.017273,0.972129,0.967198,...,1.273588,1.28465,1.278059,1.276822,1.273942,1.279368,1.295541,1.271613,1.264411,1.289108
3,Andorra,VoiceandAccountability,1.535655,1.437128,1.422262,1.563077,1.528182,1.329979,1.305506,1.325322,...,1.360453,1.433838,1.406642,1.165939,1.194477,1.176598,1.161647,1.036913,1.110124,1.089068
4,Afghanistan,VoiceandAccountability,-2.031417,-1.433421,-1.177571,-1.203034,-1.12543,-1.110294,-1.057654,-1.168902,...,-1.335977,-1.26743,-1.240068,-1.135445,-1.117563,-1.037838,-0.990854,-1.011603,-1.006792,-1.083459
5,Angola,VoiceandAccountability,-1.458065,-1.238779,-1.272615,-1.28548,-1.234719,-1.252088,-1.185314,-1.119347,...,-1.125478,-1.076247,-1.113843,-1.145494,-1.177248,-1.1396,-1.097939,-0.906303,-0.783532,-0.810628
6,Anguilla,VoiceandAccountability,NaN,NaN,NaN,0.854418,0.903781,1.017273,0.972129,0.967198,...,1.009052,1.025672,1.004767,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1291,Serbia,Political_StabilityNoViolence,-1.642953,-0.512326,-0.582105,-0.509061,-0.765158,-0.539612,-0.591053,-0.543842,...,-0.282882,-0.217299,-0.075638,0.184111,0.238982,0.140154,0.086855,0.008951,-0.06595,-0.092866
1292,South Africa,Political_StabilityNoViolence,-0.225485,-0.253671,-0.311745,-0.131361,-0.162605,0.048197,0.215835,0.049733,...,0.024032,-0.025387,-0.046295,-0.146389,-0.212993,-0.141504,-0.277562,-0.227779,-0.26767,-0.236858
1293,"Congo, Dem. Rep.",Political_StabilityNoViolence,-2.476551,-1.977575,-2.028027,-2.388028,-2.132514,-2.250013,-2.176482,-2.005968,...,-2.212989,-2.085893,-2.192191,-2.167921,-2.150854,-2.234622,-2.302249,-2.105781,-1.593899,-1.708182
1294,Zambia,Political_StabilityNoViolence,0.033903,-0.278804,0.217706,0.189577,0.10505,0.3625,0.363416,0.469842,...,0.509774,0.660963,0.435933,0.156212,0.151695,0.142808,0.146243,0.085604,-0.113847,-0.128189
1295,Zimbabwe,Political_StabilityNoViolence,-1.322906,-1.521978,-1.088343,-1.2075,-1.272914,-0.932961,-1.108968,-1.213945,...,-0.945329,-0.778662,-0.66595,-0.71357,-0.618156,-0.619938,-0.708769,-0.722774,-0.959749,-1.080208

In [42]:
df_WWGI_filt.to_excel(pastaTrab + '\\WWGI\\wgidataset_py.xlsx')