In [2]:
#DATASET DE ENTRADA
pastaTrab = 'D:\\TCC\Meu TCC\\Dados\\2 - Dados Estruturados'

In [3]:
#IMPORTA BIBLIOTECAS
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
pd.set_option('max_rows', None)

# Ajuste da classificação dos países

In [4]:
df_country = pd.read_excel(pastaTrab + '\\Country_harmonization.xlsx')

In [5]:
df1 = pd.read_csv(pastaTrab + '\\01_CARGA_TRIBUTARIA.csv', usecols=['Country','Ano','Tax_%_GDP'])
df1 = pd.merge(df1,df_country, how = 'left', left_on='Country', right_on='Original_Country')
df1 = df1.loc[:,['País','Ano', 'Tax_%_GDP']]

In [6]:
df2 = pd.read_csv(pastaTrab + '\\02_GASTOS.csv', names=['Country', 'Ano', 'Interest_expense_%_GDP',
                                                        'Social_benefits_expense_%_GDP' ], skiprows=3)
df2 = pd.merge(df2,df_country, how = 'left', left_on='Country', right_on='Original_Country')
df2 = df2.loc[:,['País','Ano', 'Interest_expense_%_GDP', 'Social_benefits_expense_%_GDP']]

In [7]:
df3 = pd.read_csv(pastaTrab + '\\03_WBDI.csv',names=['Country', 'Ano', 'Agriculture_%_GDP',
                                                        'GINI_Index', 'OilRrents_%_GDP' ], skiprows=3)
df3 = pd.merge(df3,df_country, how = 'left', left_on='Country', right_on='Original_Country')
df3 = df3.loc[:,['País','Ano', 'Agriculture_%_GDP','GINI_Index', 'OilRrents_%_GDP']]

In [8]:
df4 = pd.read_csv(pastaTrab + '\\04_WWGI.csv', names=['Country', 'Ano', 'ControlofCorruption','GovernmentEffectiveness',
                                     'Political_StabilityNoViolence','RegulatoryQuality','RuleofLaw',
                                    'VoiceandAccountability'], skiprows=3)
df4 = pd.merge(df4,df_country, how = 'left', left_on='Country', right_on='Original_Country')
df4 = df4.loc[:,['País','Ano', 'ControlofCorruption','GovernmentEffectiveness',
                                     'Political_StabilityNoViolence','RegulatoryQuality','RuleofLaw',
                                    'VoiceandAccountability']]

# Merge das bases de dados

In [9]:
df5 = pd.merge(df1,df2, how = 'left', left_on=['País','Ano'], right_on=['País','Ano'])
df5 = df5.loc[:,['País','Ano', 'Tax_%_GDP', 'Interest_expense_%_GDP', 'Social_benefits_expense_%_GDP']]

In [10]:
df6 = pd.merge(df5,df3, how = 'left', left_on=['País','Ano'], right_on=['País','Ano'])
df6 = df6.loc[:,['País','Ano', 'Tax_%_GDP', 'Interest_expense_%_GDP', 'Social_benefits_expense_%_GDP','Agriculture_%_GDP',
                 'OilRrents_%_GDP','GINI_Index']]

In [11]:
df_merged = pd.merge(df6,df4, how = 'left', left_on=['País','Ano'], right_on=['País','Ano'])
df_merged = df_merged.loc[:,['País','Ano', 'Tax_%_GDP', 'Interest_expense_%_GDP', 'Social_benefits_expense_%_GDP',
                             'Agriculture_%_GDP','OilRrents_%_GDP','GINI_Index','ControlofCorruption','GovernmentEffectiveness',
                             'Political_StabilityNoViolence','RegulatoryQuality','RuleofLaw','VoiceandAccountability']]

In [12]:
df_merged.shape

(2560, 14)

In [13]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2560 entries, 0 to 2559
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   País                           2560 non-null   object
 1   Ano                            2560 non-null   int64
 2   Tax_%_GDP                      2560 non-null   float64
 3   Interest_expense_%_GDP         2520 non-null   float64
 4   Social_benefits_expense_%_GDP  2500 non-null   float64
 5   Agriculture_%_GDP              2436 non-null   float64
 6   OilRrents_%_GDP                2332 non-null   float64
 7   GINI_Index                     1154 non-null   float64
 8   ControlofCorruption            2506 non-null   float64
 9   GovernmentEffectiveness        2506 non-null   float64
 10  Political_StabilityNoViolence  2528 non-null   float64
 11  RegulatoryQuality              2506 non-null   float64
 12  RuleofLaw                      2533 non-null   float64
 13  VoiceandAccountability         2540 non-null   float64
dtypes: float64(12), int64(1), object(1)
memory usage: 300.0+ KB

In [14]:
df_merged.to_csv('D:\\TCC\Meu TCC\\Dados\\2 - Dados Estruturados\\05_dadosUnificados.csv')

In [16]:
df_merged.head(10)

,País,Ano,Tax_%_GDP,Interest_expense_%_GDP,Social_benefits_expense_%_GDP,Agriculture_%_GDP,OilRrents_%_GDP,GINI_Index,ControlofCorruption,GovernmentEffectiveness,Political_StabilityNoViolence,RegulatoryQuality,RuleofLaw,VoiceandAccountability
0,Afghanistan,2001,0.000000,0.000000,0.000000,NaN,NaN,NaN,-1.295380,-2.231651,-2.440187,-2.109626,-1.778437,-2.031417
1,Albania,2001,0.000000,0.000000,0.000000,22.716164,0.650142,NaN,-0.857256,-0.755118,-0.537979,-0.254359,-1.008780,-0.285139
2,Argentina,2001,12.178407,0.809364,6.400217,4.568590,1.613400,53.3,-0.192119,0.032177,0.099359,0.257245,-0.149923,0.418347
3,Armenia,2001,0.000000,0.000000,0.000000,NaN,0.000000,35.4,-0.759535,-0.515753,-0.683588,-0.116563,-0.478566,-0.374595
4,Australia,2001,29.531483,1.301619,10.706994,3.502198,0.928857,33.5,1.923246,1.810187,1.334552,1.637249,1.751407,1.471305
5,Austria,2001,45.190328,3.728058,21.590228,1.670703,0.040529,NaN,1.809211,1.929282,0.823827,1.534618,1.842372,1.317559
6,Azerbaijan,2001,0.000000,0.000000,0.000000,14.837460,22.527922,36.5,-1.300618,-1.005987,-0.830194,-0.931884,-1.149980,-0.906229
7,Bahamas,2001,9.859541,1.210652,0.858397,1.198630,0.000000,NaN,1.348332,1.295001,1.280098,1.193974,1.316824,1.202225
8,Bahrain,2001,2.214246,0.000000,0.749660,NaN,3.132440,NaN,0.380999,0.588942,0.055774,0.789343,0.298458,-1.056880
9,Barbados,2001,0.000000,0.000000,0.000000,2.118186,0.224812,NaN,1.571706,1.446284,1.150208,1.308765,1.423044,1.264498